html {
	background-color:lightgray;
}
.sets {
	float:left;
	margin:30px 50px;
}
.images {
	width:150px;
	height:150px;
	border-radius:50%;
}
.adder {
	margin:15px 30px;
}
.suber {
	margin:15px 30px;
}
.howmany {
	width:25px;
}